body{
  margin:0;
  font-family:Arial;
  background:#f4f4f4;
}

.login-body{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.login-box{
  background:#fff;
  padding:30px;
  width:300px;
  text-align:center;
  border-radius:10px;
}

.login-box input{
  width:100%;
  padding:10px;
  margin:10px 0;
}

.login-box button{
  width:100%;
  padding:10px;
  background:#1dd3b0;
  border:none;
  cursor:pointer;
}

.admin-header{
  background:#0f4c5c;
  color:#fff;
  padding:15px;
  display:flex;
  justify-content:space-between;
}

.admin-container{
  display:flex;
}

aside{
  width:200px;
  background:#222;
  min-height:100vh;
}

aside a{
  display:block;
  color:#fff;
  padding:15px;
  text-decoration:none;
}

aside a:hover, aside a.active{
  background:#1dd3b0;
  color:#000;
}

main{
  padding:20px;
  width:100%;
}

.gallery-list{
  display:flex;
  gap:10px;
  margin-top:15px;
  flex-wrap:wrap;
}

.gallery-list img{
  width:150px;
  border-radius:8px;
}

.gallery-list button{
  display:block;
  width:150px;
  background:red;
  color:#fff;
  border:none;
  cursor:pointer;
}
